/* Stylesheet for feedme output read on Android phones */

body {
  color: white !important;
  background: #000 !important;
  font-size: 1.1em;
}

a:link, a:hover, a:active { color: #ffff00 !important; }

a:visited { color: #ffdd00 !important; }

/* Space out the feeds list page so there's space for a finger */
div.index { margin-top: 1em; margin-bottom: 1.45em; }

/* Android's default preformatted font is tiny in 1.6.
 * But it's fine in 2.3 and later (until the Oct 2017 WebView bustage
 * after which no fix seems to work).
tt, pre { font-size: 1.2em; }
 */

/* Limit images to viewport width. High Country News wraps their img
 * tags inside a <figure style="width:1200px"> so handle figure too.
 */
img, figure { max-width: 98.5%; height: auto; !important; }

/* Hack to get XKCD What-If images to display.
 * They're transparent PNG, so we'd otherwise see them as black on black.
 */
.illustration { background-color: white; max-width: initial; }

/* Similar for XKCD */
#comic { background-color: white; }
#comic img { background-color: white; max-width: initial; }

/* Longreads has an annoying modal blocker on some stories */
div[class="modal"] {
    display: none !important;
}
