body { 
  color: white !important;
  background: #000 !important;
  font-size: 1.1em;
}

a:link, a:hover, a:active { color: #ffff00 !important; }

a:visited { color: #ffdd00 !important; }

/* Space out the feeds list page so there's space for a finger */
div.index { margin-top: 1em; margin-bottom: 1.45em; }

/* Android's default preformatted font is tiny in 1.6.
 * But it's fine in 2.3.
tt, pre { font-size: 1.2em; }
 */

img { max-width: 100%; height: auto; !important; }

/* Hack to get XKCD What-If images to display.
 * They're transparent PNG, so we'd otherwise see them as black on black.
 */
.illustration { background-color: white; max-width: initial; }

/* Similar for XKCD */
#comic { background-color: white; }
#comic img { background-color: white; max-width: initial; }

/* Longreads has an annoying modal blocker on some stories */
div[class="modal"] {
    display: none !important;
}
